<!--
  ~ Copyright Syncth (c) 2012.
  ~
  ~ This code is intellectual property of Syncth. Written and maintained my AlphaDevs.
  ~ WARN::Possession of this code by any third party will be considered as theft of intellectual property.
  -->

<!-- <select class="chzn-select">
				<option>Test 1</option>
				<option>Test 2</option>
				<option>Test 3</option>
				<option>Test 4</option>
				<option>Test 5</option>
				<option>Test 6</option>
</select> -->
<% _.each(scripts, function (item) { %>
		<script type="text/javascript" src="/javascripts/dyn_scripts/<%=item%>.js"></script>
<% }) %>
<form class="bs-docs-example form-horizontal well">
<div class="row">
	<div class="span6 offset1">
		<legend>Personal Details</legend>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Name</label>
			<div class="controls">
				<a rel="tooltip" data-placement="right" data-original-title="Your Name">
					<input type="text" />
				</a>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Mobile Number</label>
			<div class="controls">
					<a rel="tooltip" data-placement="right" data-original-title="Ex:+91 8970994148">
						<input type="text" />
					</a>
					<a class="link" id="show_verification" rel="popover" data-content='Please enter the verification code that is sent on sms. <p><input type="text" class="span2" id="verification_input" /><a href="#" id="verify_number" class="btn">verify</a></p>' data-original-title="Mobile Verification">  <i class="icon-check"></i> Verify</a>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
					<a rel="tooltip" data-placement="right" data-original-title="Ex: john@cmyk.com">
						<input type="text" />
					</a>
			</div>
		</div>
	</div>
	<div class="span6 offset1">
		<legend>Restaurant Details</legend>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Name</label>
			<div class="controls">
				<a rel="tooltip" data-placement="right" data-original-title="Restaurant's Name">
					<input type="text" />
				</a>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Address</label>
			<div class="controls">
				<a rel="tooltip" data-placement="right" data-original-title="Restaurant's Address">
					<input type="text" />
				</a>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="text" />
			</div>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="form-actions span9">
				<div class="pull-right">
	              <button type="submit" class="btn btn-primary">Get It.</button>
	          	</div>
	    </div>
	</div>
</form>